.underline-shortcut {
    text-decoration: underline;
    font-weight: bold;
}

.row-remove {
    background-image: url('../images/delete.gif') ! important;
}

/* styles for iconCls */
.x-icon-add {
    background-image: url('../images/add.png');
}

.x-icon-authenticate {
    background-image: url('../images/icon_padlock.png');
}

.x-icon-delete {
    background-image: url('../images/delete.gif');
}

.x-icon-alv-processing {
    background-image: url('../images/loading-balls.gif');
    height: 9px;
    width: 41px;
}

.x-icon-alv-processing-large {
    background-image: url('../images/large-loading.gif');
    height: 32px;
    width: 32px;
}

.x-icon-tickets {
    background-image: url('../images/tickets.png');
}

.x-icon-subscriptions {
    background-image: url('../images/subscriptions.png');
}

.x-icon-users {
    background-image: url('../images/group.png');
}

.x-icon-tables {
    background-image: url('../images/templates.png');
}

.x-icon-saveerror {
    background-image: url('../images/error.png');
    height: 16px;
    width: 16px;
}

.x-icon-blank {
    background-image: url('../images/blank.png');
    height: 16px;
    width: 16px;
}

.x-icon-alv-success {
    background-image: url('../images/saved.png');
    height: 16px;
    width: 16px;
}

.x-icon-alv-failure {
    background-image: url('../images/error.png');
    height: 16px;
    width: 16px;
}

.x-save-status-success {
    color: green;
    font-weight: bolder;
}

.x-save-status-failure {
    color: red;
    font-weight: bolder;
}

.x-alv-panel {
    background-color: #a535a4;
    border: solid 3px #a535a4;
}

.x-icon-alv-back {
    background-repeat: no-repeat;
    background-image: url('../images/Back2Icon.png');
    background-position: left;
    height: 22px;
    text-indent: 26px
}

.x-icon-alv-forward {
    background-repeat: no-repeat;
    background-image: url('../images/Forward2Icon.png');
    background-position: left;
    height: 22px;
    text-indent: 26px
}

.x-icon-alv-info {
    background-repeat: no-repeat;
    background-image: url('../images/information.png');
    background-position: left;
    height: 22px;
    text-indent: 26px
}

.alv-banner {
    background: url(../images/banner.jpeg) left top;
    background-repeat: repeat-x;
    height: 45px;
    overflow: hidden;
    background-color: #FFAC16;
    margin-left: 4px;
}
.alv-book {
    background-image: url('../images/book.png') !important;
    height: 16px;
    width: 16px;
}
.alv-gears{
    background-image: url('../images/gears.png') !important;
    height: 16px;
    width: 16px;
}
.alv-start{
    background-image: url('../images/start.gif') !important;
    height: 16px;
    width: 16px;
}
.alv-stop{
    background-image: url('../images/stop.png') !important;
    height: 16px;
    width: 16px;
}
.alv-pause{
    background-image: url('../images/pause.png') !important;
    height: 16px;
    width: 16px;
}
.alv-reset{
    background-image: url('../images/reset.gif') !important;
    height: 16px;
    width: 16px;
}
.alv-log-info{
    background-image: url('../images/info16.gif') !important;
    height: 16px;
    width: 16px;
}
.alv-log-warn{
    background-image: url('../images/error.png') !important;
    height: 16px;
    width: 16px;
}
.alv-log-error{
    background-image: url('../images/stop.png') !important;
    height: 16px;
    width: 16px;
}
.alv-log-fatal{
    background-image: url('../images/crossbones.gif') !important;
    height: 16px;
    width: 16px;
}
.alv-log-debug{
    background-image: url('../images/debug.png') !important;
    height: 16px;
    width: 16px;
}
.alv-log-trace{
    background-image: url('../images/gears.png') !important;
    height: 16px;
    width: 16px;
}
